.timeclock{
  text-align: center;
}
.clock {
  width: 30%;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 40px;
  font-weight: bold;
  
}

.date-time {


}

@media screen and (max-width: 900px) {
  .time {
    font-size: 115%;
  }
}