.clock{
  text-align: center;
}
.clock div{

  justify-content: center;
  align-items: center;
}

.time {
  display: flex;
  justify-content: center;  
  font-size: 40px;
  font-weight: bold;
}

.date-time {


}

/* @media screen and (max-width: 900px) {
  .time {
    font-size: 115%;
  }
}
  */