.clock{
  text-align: center;
}
.clock div{
  width: 10%;
  justify-content: center;
  align-items: center;
}

.time {
  display: grid;
  grid-template-columns: 3.5em 3.5em 3.5em;
  column-gap: 10px;
  justify-content: center;
  font-size: 2.5em;
  font-weight: bold;
}

.date-time {


}

/* @media screen and (max-width: 900px) {
  .time {
    font-size: 115%;
  }
}
  */