@import url(sizing.css);
@import url(links.css);
@import url(header_footer.css);
@import url(clock_stylesheet.css);
@import url(fonts_stylesheet.css);

html{
  background-image: url("../assets/wood_leaf_bg.jpg");
}

div{
    border:2px solid whit; /* for  easy editing purposes, disregard */
}

img:hover{
    color:#000000;
}


body{
    color:#FFFFFF;
}


h1{
    color:rgba(231, 199, 139, 0.935);
}

.content-section{
    display: flex;
    flex-direction: column;
}


.card{
    display: grid;
    justify-content: center;
    text-align: center;
    gap: .5em;
}

.card-image{
    height: 200px;
    width: 300px;
    border-radius: 45%;
}

.card-image:hover{
    opacity: .8;
}

.stream-twitch{
  display:flex;
  justify-content: center;
  margin:.5em;
  
}

.stream-twitch iframe{
  max-height: 85%;
  max-width: 85%;
  margin: .75em;
}

.card button{
    width: 35%;
    font-size:10px;
    background-color: #120903;
    border: burlywood;
    border-radius: 20px;
    animation: wiggle 2s linear infinite;
    border-bottom: 2px solid rgb(0, 0, 0);
}


@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
      }
      15% {
        transform: rotateZ(-15deg);
      }
      20% {
        transform: rotateZ(10deg);
      }
      25% {
        transform: rotateZ(-10deg);
      }
      30% {
        transform: rotateZ(6deg);
      }
      35% {
        transform: rotateZ(-4deg);
      }
      40%, 100% {
        transform: rotateZ(0);
      }
}
