@media(max-width:900px){
    html{
        background-color: #120903;
    }
    body{
        
        color: #783c11;
    }
}

@media (min-width:901px){
    html{
        background-image: linear-gradient(180deg, #783c11, #120903);
        min-height: 100%;
    }
    body{
        color:#FFFFFF;
    }
}